*, body {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace ;
}

ul {
    height: 20vh;
    width: 100%;
}

ul li{
    margin-top: 70px;
}

ul li a{
    color:white;
    font-weight: 400;
}
.nav-brand{
    flex: 0.91;
    padding-top: 10px;
    margin-left: 70px;
}

.navi{
    background-color: rgba(57, 181, 219, 0.24);
    height: 700px;
    background-image: url(../assets/Web\ 1920\ –\ 2.png);
}

.home-txt{
    color: white;
    text-align: center;
    margin-top: 160px;
}

.home-txt h1{
    font-weight: 500;
}


/* Harsh */

.image-bg{
    background-color: rgb(236, 246, 255);
    /* background-image: url(../assets/body.png); */
    height: 200vh;
}

.eye{
    width: 100%;
    margin-right: 100px;
}

.eye, .art-a{
    width: 250px;
    float: right;
    margin-right: 220px;
}
.nose{
    align-content: center;
    margin-top: 1000px !important;
}


.nose, .img-nose{
    width: 250px;
    background-color: red;
}

.nose, .img-ear{
    width: 250px;
}
.container{
    padding-top: 350px;
}

.art-b{
    width: 200px;
    padding-left: 10px;

}

.art-c{
    width: 150px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.art-d{
    width: 350px;
    padding: 50px;
}

.col-lg-7 {
    text-align: center;
}

.col-lg-7 h3 {
    font-weight: 300;
}

.btn, .btn-lg{
    margin-top: 100px ;
    background-color: transparent;
    border-color: black;
    border-radius: 0;
    border-style: double;
    font-weight: bolder;
}

.btn, .white{
    margin: 100px ;
    background-color: transparent;
    border-color: white;
    border-radius: 0;
    font-weight: bolder;
    color: white;
}

/* HArsh-end */

/* black */

.black{
    background-color: black;
    height: 100%;
}

.card{
    background-color: transparent;
    color: white;
    border: 0;
    border-radius: 0;
    margin: -150px 100px 150px 150px;
}

.card-body a{
    color: rgb(158, 158, 158);
    text-decoration: none;
    font-size: 15px;
}

a:hover{
    color: white;
    font-size: 15.5px;
}

.row, .card{
    justify-content: center;
}

.row, .col-2{
    justify-content: center;
}


.col-2, .logo{
    width: 100px;
}


.col-2{
    padding-left: 100px;
}




/* Footer */
.footer{
    background-image: url(../assets/footer.png);
    color: white;
    padding: 200px;
    height: 100vh;
}
.address{
    padding-top: 100px;
}
.address h1{
    font-size: 20px;
}
.col-2 a{
    text-decoration: none;
    color: white;
}
